/* add padding around the contents of the app page */
.content {
  margin: 0;
}

/* display the cards for the park in a grid */
.park-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.parkData{
  padding: 1rem;
}
